[tools]
jq = "1.7.1"
ruby = "3.3"
java = "23"
bun = "1.2.15"

[tasks."docs:install"]
run = "cd docs && bundle"

[tasks."docs:dev"]
depends = ["docs:install"]
run = "cd docs && bundle exec jekyll serve --watch --incremental --livereload"
