# This workflow requires artifacts to be created and available for download.

name: E2E Test

on:
  workflow_call:
    inputs:
      smoke:
        type: boolean
        required: true
        default: true
jobs:
  e2e:
    name: e2e-${{matrix.name}}
    runs-on: ${{matrix.runs-on}}
    env:
      STRUCTURIZR_CLI_VERSION: v2025.11.09
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu
            name: linux-x64
            target: x86_64-unknown-linux-gnu
            runs-on: ubuntu-latest
          - os: ubuntu
            name: linux-arm64
            target: aarch64-unknown-linux-gnu
            runs-on: ubuntu-latest
          - os: macos
            name: darwin-x64
            target: x86_64-apple-darwin
            runs-on: macos-latest
          - os: macos
            name: darwin-arm64
            target: aarch64-apple-darwin
            runs-on: macos-latest
          - os: windows
            name: win-x64
            target: x86_64-ms-windows
            runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Mise Tools install
        uses: jdx/mise-action@v3
        if: ${{ matrix.os != 'windows' }}
        with:
          version: 2025.11.10
          install: true
          cache: true
          experimental: true
      - run: mise use bun@1.3.3
        if: ${{ matrix.os != 'windows' }}
      - name: Choco Tools Install
        run: |
          choco install jq --version 1.7.1
          choco install bun --version 1.3.3
        if: ${{ matrix.os == 'windows' }}
      - uses: actions/setup-java@v5
        if: ${{ matrix.os == 'windows' }}
        with:
          distribution: "temurin" # See 'Supported distributions' for available options
          java-version: "21"
      - run: bun install --ignore-scripts
      - name: Download version to test
        uses: actions/download-artifact@v6
        with:
          name: TESTED_VERSION
      - name: Download created artifacts
        uses: actions/download-artifact@v6
        with:
          name: tarball-${{ matrix.target }}
      - name: Extract tarball
        if: ${{ matrix.os != 'windows' }}
        run: |
          mkdir -p ./dist
          tar -xvf scfz-*.tar.gz -C ./dist/
          mv ./dist/*/* ./dist/
      - name: Extract tarball (Windows)
        if: ${{ matrix.os == 'windows' }}
        run: |
          try {
            New-Item -ItemType Directory -Force -Path ./dist
            tar -xvf scfz-${{ matrix.name }}.tar.gz -C ./dist/
            Move-Item -Path ./dist/*/* -Destination ./dist/
          } catch {
            Write-Error "An error occurred: $_"
          }
      - name: Cache Structurizr CLI
        id: structurizr-cli-cache
        uses: actions/cache@v5
        with:
          path: dist/structurizr-cli-bin
          key: ${{ matrix.os }}-structurizr-cli-${{ env.STRUCTURIZR_CLI_VERSION }}
      - name: Download Structurizr CLI
        if: steps.structurizr-cli-cache.outputs.cache-hit != 'true' && matrix.os != 'windows'
        run: |
          mkdir -p dist/structurizr-cli-bin
          wget https://github.com/structurizr/cli/releases/download/${{ env.STRUCTURIZR_CLI_VERSION }}/structurizr-cli.zip
          unzip ./structurizr-cli.zip -d dist/structurizr-cli-bin/
          ls -la dist/structurizr-cli-bin/
      - name: Download Structurizr CLI (Windows)
        if: steps.structurizr-cli-cache.outputs.cache-hit != 'true' && matrix.os == 'windows'
        run: |
          try {
            New-Item -ItemType Directory -Force -Path dist/structurizr-cli-bin
            Invoke-WebRequest -Uri "https://github.com/structurizr/cli/releases/download/${{ env.STRUCTURIZR_CLI_VERSION }}/structurizr-cli.zip" -OutFile structurizr-cli.zip
            Expand-Archive -Path structurizr-cli.zip -DestinationPath dist/structurizr-cli-bin/
            Get-ChildItem -Path dist/structurizr-cli-bin/
          } catch {
            Write-Error "An error occurred: $_"
          }
      - name: Extract version and add it to env variables
        if: ${{ matrix.os != 'windows' }}
        run: |
          echo "TESTED_VERSION=$(cat ./TESTED_VERSION.txt)" >> ${GITHUB_ENV}
      - name: Extract version and add it to env variables (Windows)
        if: ${{ matrix.os == 'windows' }}
        run: |
          try {
            $version = Get-Content -Path .\TESTED_VERSION.txt
            echo "TESTED_VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          } catch {
            Write-Error "An error occurred: $_"
          }
      - name: E2E Test (Smoke)
        if: ${{ inputs.smoke && matrix.os != 'windows' }}
        run: |
          export STRUCTURIZR_CLI_PATH=./dist/structurizr-cli-bin/structurizr.sh
          export TMP_FOLDER=${{ runner.temp }}
          bun test:e2e:smoke
      - name: E2E Test (Full)
        if: ${{ !inputs.smoke && matrix.os != 'windows' }}
        run: |
          export STRUCTURIZR_CLI_PATH=./dist/structurizr-cli-bin/structurizr.sh
          export TMP_FOLDER=${{ runner.temp }}
          bun test:e2e
      - name: E2E Test (Smoke) (Windows)
        if: ${{ inputs.smoke && matrix.os == 'windows' }}
        run: |
          $env:STRUCTURIZR_CLI_PATH = ".\dist\structurizr-cli-bin\structurizr.bat"
          $env:TMP_FOLDER = "${{ runner.temp }}"
          $env:INPUT_TIMEOUT = "600"
          java -version
          bun test:e2e:smoke
      - name: E2E Test (Full) (Windows)
        if: ${{ !inputs.smoke && matrix.os == 'windows' }}
        run: |
          $env:STRUCTURIZR_CLI_PATH = ".\dist\structurizr-cli-bin\structurizr.bat"
          $env:TMP_FOLDER = "${{ runner.temp }}"
          $env:INPUT_TIMEOUT = "600"
          java -version
          bun test:e2e
