name: "Pull Request"

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop
      - main

permissions:
  contents: write

jobs:
  test-build:
    if: always()
    uses: ./.github/workflows/test-build.yaml
    permissions:
      contents: write
  e2e:
    needs: test-build
    if: always()
    uses: ./.github/workflows/e2e.yaml
    with:
      smoke: ${{ github.base_ref != 'main' }}
