name: Tool Release

on:
  push:
    tags:
      - "v*"

jobs:
  test-build:
    uses: ./.github/workflows/test-build.yaml
    permissions:
      contents: write
  e2e:
    needs: test-build
    uses: ./.github/workflows/e2e.yaml
    with:
      smoke: false
  release:
    needs: e2e
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ contains(github.ref, '-beta') && 'develop' || 'main' }}
      - name: Mise Tools install
        uses: jdx/mise-action@v3
        with:
          version: 2025.11.10
          install: true
          cache: true
          experimental: true
      - run: mise use bun@1.2.15
      - run: bun install
      - name: Create changelog
        run: |
          mkdir ./dist
          bun changelog --file ./dist/changelog.txt --tag $(git for-each-ref --sort=creatordate --format '%(refname:short)' refs/tags | grep -v beta | grep -v $(git describe --tags) | tail -n 1)
          cat ./dist/changelog.txt
      - uses: actions/download-artifact@v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          path: ./dist
      - name: Update install.sh file
        run: scripts/release.sh
        if: startsWith(github.ref, 'refs/tags/')
      - name: Create Release Draft
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          prerelease: ${{contains(github.ref, '-beta')}}
          body_path: ./dist/changelog.txt
          files: ./dist/releases/${{github.ref_name}}/*
      - run: mv dist/releases/install.sh docs/assets/install.sh
        if: startsWith(github.ref, 'refs/tags/')
      - name: Update Install Script
        uses: stefanzweifel/git-auto-commit-action@v7
        if: startsWith(github.ref, 'refs/tags/')
        with:
          commit_message: "[skip ci]: Updated install script"
          commit_options: "--no-verify --signoff"
          branch: ${{ contains(github.ref, '-beta') && 'develop' || 'main' }}
          file_pattern: "docs/**"
          repository: .
          commit_user_name: GitHub Actions Bot # defaults to "github-actions[bot]"
          status_options: "--untracked-files=no"
          # add_options: '-u'
          push_options: "--force"
          skip_dirty_check: true
          skip_fetch: true
          skip_checkout: false
          disable_globbing: true
          create_branch: false
  docs:
    needs: release
    uses: ./.github/workflows/docs.yaml
    permissions:
      contents: read
      pages: write
      id-token: write
